extends layout

block bodyContent

    form(method='POST', action='/change-user')
        div
            input(name='originalFirstName', value=user.firstName, hidden)
            input(name='originalLastName', value=user.lastName, hidden)
            input(name='originalEmail', value=user.email, hidden)
            label(for='firstName') First Name
            input(id='firstName', name='firstName', required, value=user.firstName)
        div
            label(for='lastName') Last Name
            input(id='lastName', name='lastName', required, value=user.lastName)
        div
            label(for='password') Password
            input(type='password', id='password', name='password' , required, value=user.password)
        div
            label(for='email') Email
            input(type='email', id='email', name='email', required, value=user.email)
        div
            label(for='age') Age
            input(type='number', id='age', name='age', required, value=user.age)
        div
            input(type='submit', value='Save Changes')