extends layout
block bodyContent

    h1 USERS

    table
        tr
            th='Last Name'
            th='First Name'
            th='Password'
            th='Email'
            th='Age'
            th='-----------'
        each val in users
            tr
                td=val.lastName
                td=val.firstName
                td=val.password
                td=val.email
                td=val.age
                td
                    a(class="td-link",  href=`user/${val.firstName}&${val.lastName}&${val.email}`)="View"
                    a(class="td-link",  href=`edit/${val.firstName}&${val.lastName}&${val.email}`)="Edit"
                    a(class="td-link", href=`delete/${val.firstName}&${val.lastName}&${val.email}`)="Delete"

    div(class="needs-margin")
        a(class="needs-margin", href=`/add-user`)="Add User"