extends layout
block bodyContent

    h1 USERS

    table
        tr
            th='ID'
            th='Username'
            th='Password'
            th='Email'
            th='Age'
            th='-----------'
        each val in users
            tr
                td=val.id
                td=val.username
                td=val.password
                td=val.email
                td=val.age
                td
                    a(onclick="editItem(#{val.id})", class="td-link"  href="")="Edit"
                    a(onclick="editItem(#{val.id})", class="td-link"  href="")="Delete"