extends layout
block bodyContent

    h1 USER

    table
        tr
            th='Last Name'
            th='First Name'
            th='Username'
            th='Password'
            th='Email'
            th='Age'


            tr
                td=user.lastName
                td=user.firstName
                td=user.username
                td=user.password
                td=user.email
                td=user.age

    div(class="needs-margin")
        a(class="needs-margin", href=`/`)="Return to Users List"